<script>
    const person_id = {{person.id}}

    const STATUS_FRIEND = 1
    const STATUS_REQUEST_SEND = 2
    const STATUS_REQUEST_RECEIVED = 3
    const STATUS_UNRELATED = 4
</script>
<div id="status-block row">
    <div class="col-12">
        {% if status == 1 %}
            Your friend <button id="action-unfriend">Unfriend</button>
        {% elif status == 2 %}
            Send <button id="action-decline-send">Decline</button>
        {% elif status == 3 %}
            Received <button id="action-accept">Accept</button>
            <button id="action-decline-received">Decline</button>
        {% else %}
            <button id="action-send">Send request</button>
        {% endif%}
    </div>
</div>