{% if owner and not profile %}
    <a href="{% url 'add_profile_info' %}">Добавить информацию</a>
{% elif owner and profile %}
    {% if profile.bio %}
        <p>Bio: {{profile.bio}}</p>
    {% endif %}
    {% if profile.email %}
        <p>Email: {{profile.email}}</p>
    {% endif %}
    {% if profile.phone %}
        <p>Phone: {{profile.phone}}</p>
    {% endif %}
    {% if profile.birth_date %}
        <p>Birthday: {{profile.birth_date}}</p>
    {% endif %}
    <a href="{% url 'add_profile_info' %}">Редактировать информацию</a>
{% endif %}