{% extends "user_profile/base/base.html" %}

{% block content %}

<div class="row">
    <div class="col-4">
        {% include "user_profile/_avatar.html" with profile=profile%}
        {% if not owner %}
            {% include "user_profile/_friend_status.html" with status=status person=person %}
        {% endif %}
    </div>
    <div class="col-8 border rounded">
        {% include "user_profile/_profile.html" with owner=owner profile=profile %}
    </div>
    <div class="col-12 border rounded">
        {% include "user_profile/_posts.html" with posts=posts user=user %}
    </div>
</div>

{% load static %}
<script src="{% static 'friend.entry.js' %}"></script>
<script src="{% static 'post_and_comm.entry.js' %}"></script>

{% endblock %}