{% extends "user_profile/base/base.html" %}

{% block content %}

<div class="row">
    <div class="col-4">
        {% include "user_profile/_avatar.html" with profile=profile%}
        {% if not owner %}
            {% include "user_profile/_friend_status.html" with status=status person=person %}
        {% endif %}
    </div>
    <div class="col-8 border rounded">
        {% include "user_profile/_profile.html" with owner=owner profile=profile %}
    </div>
    <div class="col-12 border rounded">
        <form action="{% url 'send_friend_post' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="wall_owner_id" value="{{person.id}}">
            <input type="hidden" name="author_id" value="{{user.id}}">
            <input type="text" name="message">
            <input type="submit" value="Send">
        </form>
    </div>
    <div class="border rounded">
        {% include "user_profile/_posts.html" with posts=posts %}
    </div>
</div>

{% endblock %}