{% extends "user_profile/base/base.html" %}

{% block content %}

<div class="row block">
    <div class="col-4 avatar">
        <img class="img-fluid" src="{{ profile.avatar.url }}" alt="">
        {% if not owner %}
            <div>
                {{person.username}}
            </div>
        {% include "user_profile/_friend_status.html" with status=status person=person %} {% endif %}
    </div>
    <div class="col-8 border rounded">
        {% include "user_profile/_profile.html" with owner=owner profile=profile %}
    </div>
</div>
        
<div class="row block">
    <div class="col-12">
        <form class="form-inline" action="{% url 'send_post' %}" method="post" id="post_submit_form">
            {% csrf_token %}
            <input type="hidden" name="wall_owner_id" value="{{person.id}}">
            <input type="hidden" name="author_id" value="{{user.id}}">
            <input class="form-control" type="text" name="message">
            <input type="submit" value="Send" id="post_submit_btn" class="btn btn-primary">
        </form>
    </div>
</div>

<div id="post_block" class="row">
    {% for post in posts %} {% include "user_profile/_post.html" with post=post.post comments=post.comments %} {% endfor %}
</div>

{% endblock %}