<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="container">
    {% include "user_profile/base/menu.html" with user=user %}

    {% block content %}
    {% endblock %}
</div>


<script src="{% static 'friend.entry.js' %}"></script>

</body>
</html>