{% extends "register_auth/base/base.html" %}

{% block content %}

<div class="row">
    <div class="col-12 block mt-5 p-5">
        <form action="{% url 'registration' %}" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    <input class="form-control" name="{{ field.name }}">
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            <input type="submit" value="Register" class="btn btn-primary">
        </form>
        <div class="mt-4">
            <a href="{% url 'index' %}">Login</a>
        </div>
    </div>
</div>

{% endblock %}
